* {
  box-sizing: border-box;
  position: relative; }

html, body {
  position: relative;
  height: 1440px;
  width: auto;
  background-color: #EAEAEA; }

body {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 1440px;
  white-space: nowrap; }

::-webkit-scrollbar {
  display: none; }

body > section {
  display: inline-block;
  height: 1440px;
  width: 900px;
  font-family: 'Josefin Sans', sans-serif;
  white-space: normal; }

.text {
  padding: 50px 30px 0px 70px; }
  .text h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px; }
  .text p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px; }

.exit {
  position: relative;
  width: 100%;
  height: 100%; }
  .exit:before, .exit:after {
    content: "";
    display: block;
    position: absolute;
    top: 25%;
    left: 12.5%;
    transform: translate(-50%);
    transform-origin: center;
    height: 10px;
    width: 80px;
    background-color: #fff; }
  .exit:before {
    transform: rotate(45deg); }
  .exit:after {
    transform: rotate(-45deg); }
  .exit p {
    position: absolute;
    width: 100%;
    bottom: 30px;
    color: #fff;
    font-size: 40px;
    text-align: center; }

.swipe-icon {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  background-image: url("../img/swipe_hand.png");
  background-size: contain;
  background-repeat: no-repeat; }

.tap-icon {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  background-image: url("../img/tap_hand.png");
  background-size: contain;
  background-repeat: no-repeat; }

.box {
  display: block;
  position: relative;
  float: left;
  border-top: 5px solid #000;
  border-left: 5px solid #000; }

.scrim {
  height: 100%;
  width: 100%; }

.bwrap {
  display: block;
  float: left; }

.box.right {
  border-right: 5px solid #000; }

:not(.newyork) > .r1 {
  height: 163px; }

.rlast {
  height: 114px;
  border-bottom: 5px solid #000; }
  .rlast p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700; }

:not(.newyork) > .b1 {
  width: 785px; }

:not(.newyork) > .b2 {
  width: 115px;
  background-color: #1e2d80; }

.title {
  background-color: #EAEAEA; }
  .title .r2 {
    height: 110px; }
  .title .r3 {
    height: 776px; }
  .title .r4 {
    height: 278px; }
  .title .b3 {
    width: 335px;
    background-color: #c72206; }
  .title .b4 {
    width: 450px; }
  .title .b5 {
    width: 115px; }
  .title .b6 {
    position: relative;
    width: 785px;
    background-color: #fff; }
    .title .b6 h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 55px;
      text-transform: uppercase; }
      .title .b6 h1 span {
        font-size: 84px;
        font-weight: 700; }
  .title .b7 {
    width: 115px; }
  .title .b8 {
    width: 110px;
    background-color: #1e2d80; }
  .title .b9 {
    postition: relative;
    width: 675px; }
    .title .b9 .swipe-icon {
      height: 120px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .title .b10 {
    width: 115px; }
  .title .b11 {
    width: 110px; }
  .title .b12 {
    width: 790px;
    background-color: #ffd504; }

.menu {
  background-color: #EAEAEA; }
  .menu .scrim p {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .menu .r2 {
    height: 442px; }
  .menu .r3 {
    height: 221px; }
  .menu .r4 {
    height: 500px; }
  .menu .bwrap.r2, .menu .bwrap.r2 > .box {
    width: 110px; }
  .menu .bwrap.r4.bw1, .menu .bwrap.r4.bw1 > .box {
    width: 335px; }
  .menu .bwrap.r4.bw2, .menu .bwrap.r4.bw2 > .box {
    width: 450px; }
  .menu .b3 {
    height: 112px;
    background-color: #c72206; }
  .menu .b4 {
    height: 330px; }
  .menu .b5 {
    position: relative;
    width: 225px;
    background-color: #fff; }
    .menu .b5 .tap-icon {
      position: absolute;
      left: 60%;
      top: 20%;
      transform: translate(-50%, -50%); }
      .menu .b5 .tap-icon p {
        position: absolute;
        top: 100px;
        left: -20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2em; }
  .menu .b6 {
    width: 450px;
    background-image: url("../img/menu_paris.jpg");
    background-size: cover;
    background-position: center; }
    .menu .b6 .scrim {
      font-size: 70px;
      background-color: rgba(255, 213, 4, 0.75); }
  .menu .b7 {
    width: 115px; }
  .menu .b8 {
    width: 560px; }
  .menu .b9 {
    width: 340px;
    background-image: url("../img/menu_studio.jpg");
    background-size: cover;
    background-position: center; }
    .menu .b9 .scrim {
      font-size: 35px;
      color: #fff;
      line-height: 1.25em;
      background-color: rgba(30, 45, 128, 0.75); }
  .menu .b10 {
    height: 332px;
    background-image: url("../img/menu_london.jpg");
    background-size: cover;
    background-position: center; }
    .menu .b10 .scrim {
      font-size: 55px;
      color: #fff;
      background-color: rgba(30, 45, 128, 0.75); }
  .menu .b11 {
    height: 168px; }
  .menu .b12 {
    height: 111px; }
  .menu .b13 {
    height: 389px;
    background-image: url("../img/menu_ny.jpg");
    background-size: cover;
    background-position: center; }
    .menu .b13 .scrim {
      font-size: 65px;
      color: #fff;
      background-color: rgba(199, 34, 6, 0.75); }
  .menu .b14 {
    width: 115px; }
  .menu .b15 {
    width: 672px; }
    .menu .b15 .swipe-icon {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%); }
  .menu .b16 {
    width: 228px;
    background-color: #ffd504; }

.paris {
  background-color: #EAEAEA; }
  .paris .r2 {
    height: 111px; }
  .paris .r3 {
    height: 1052px; }
  .paris .bwrap.r3 {
    width: 785px; }
  .paris .sr1 {
    height: 613px; }
  .paris .sr2 {
    height: 216px; }
  .paris .sr3 {
    height: 60px; }
  .paris .sr4 {
    height: 163px; }
  .paris .b3 {
    width: 335px;
    background-color: #c72206; }
  .paris .b4 {
    width: 565px; }
  .paris .b5 {
    width: 670px;
    background-color: #fff; }
  .paris .b6 {
    width: 115px; }
  .paris .b7 {
    width: 246px;
    background-image: url("../img/menu_studio.jpg");
    background-size: cover;
    background-position: center; }
    .paris .b7 .scrim {
      background-color: rgba(199, 34, 6, 0.75); }
  .paris .b8 {
    width: 273px;
    background-image: url("../img/paris2.jpg");
    background-size: cover;
    background-position: center; }
    .paris .b8 .scrim {
      background-color: rgba(255, 213, 4, 0.75); }
  .paris .b9 {
    width: 266px;
    background-image: url("../img/paris4.jpg");
    background-size: cover;
    background-position: center; }
    .paris .b9 .scrim {
      background-color: rgba(30, 45, 128, 0.75); }
  .paris .b10 {
    width: 670px; }
  .paris .b11 {
    width: 115px;
    background-color: #ffd504; }
  .paris .b12 {
    width: 447px;
    background-image: url("../img/paris3.jpg");
    background-size: cover;
    background-position: center; }
    .paris .b12 .scrim {
      background-color: rgba(30, 45, 128, 0.75);
      position: relative; }
      .paris .b12 .scrim p {
        position: absolute;
        width: 264px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        text-transform: uppercase;
        color: #fff;
        line-height: 1.5em;
        letter-spacing: 1.5px;
        font-weight: 700; }
  .paris .b13 {
    width: 338px; }
  .paris .b14 {
    width: 115px; }
  .paris .b15 {
    width: 560px; }
  .paris .b16 {
    width: 340px;
    background-color: #ffd504; }

.london {
  background-color: #EAEAEA; }
  .london .r2 {
    height: 111px; }
  .london .r3 {
    height: 1052px; }
  .london .bwrap.r3.bw1 {
    width: 785px; }
  .london .sr1 {
    height: 613px; }
  .london .sr2 {
    height: 216px; }
  .london .sr3 {
    height: 60px; }
  .london .sr4 {
    height: 163px; }
  .london .bwrap.r3.bw2, .london .bwrap.r3.bw2 > .box {
    width: 115px; }
  .london .b3 {
    width: 112px;
    background-color: #1e2d80; }
  .london .b4 {
    width: 788px; }
  .london .b5 {
    width: 670px;
    background-color: #fff; }
  .london .b6 {
    width: 115px; }
  .london .b7 {
    width: 246px;
    background-image: url("../img/menu_studio.jpg");
    background-size: cover;
    background-position: center; }
    .london .b7 .scrim {
      background-color: rgba(199, 34, 6, 0.75); }
  .london .b8 {
    width: 273px;
    background-image: url("../img/paris2.jpg");
    background-size: cover;
    background-position: center; }
    .london .b8 .scrim {
      background-color: rgba(255, 213, 4, 0.75); }
  .london .b9 {
    width: 266px;
    background-image: url("../img/paris4.jpg");
    background-size: cover;
    background-position: center; }
    .london .b9 .scrim {
      background-color: rgba(30, 45, 128, 0.75); }
  .london .b10 {
    width: 562px; }
  .london .b11 {
    width: 223px;
    background-color: #c72206; }
  .london .b12 {
    width: 447px;
    background-image: url("../img/paris3.jpg");
    background-size: cover;
    background-position: center; }
    .london .b12 .scrim {
      background-color: rgba(255, 213, 4, 0.75);
      position: relative; }
      .london .b12 .scrim p {
        position: absolute;
        width: 264px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        text-transform: uppercase;
        color: #000;
        line-height: 1.5em;
        letter-spacing: 1.5px;
        font-weight: 700; }
  .london .b13 {
    width: 338px; }
  .london .b14 {
    height: 166px; }
  .london .b15 {
    height: 111px;
    background-color: #c72206; }
  .london .b16 {
    height: 775px; }
  .london .b17 {
    width: 340px; }
  .london .b18 {
    width: 560px;
    background-color: #1e2d80;
    color: #fff; }

.newyork {
  background-color: #EAEAEA; }
  .newyork .box {
    border: none; }
  .newyork .box.border {
    background-color: #ffd504; }
  .newyork .r1 {
    height: 150px; }
  .newyork .r2 {
    height: 30px; }
  .newyork .r3 {
    height: 1133px; }
  .newyork .r4 {
    height: 30px; }
  .newyork .r5 {
    height: 96px; }
  .newyork .bwrap.r3.bw1 {
    width: 773px; }
  .newyork .sr1 {
    height: 690px; }
  .newyork .sr2 {
    height: 30px; }
  .newyork .sr3 {
    height: 232px; }
  .newyork .sr4 {
    height: 30px; }
  .newyork .sr5 {
    height: 151px; }
  .newyork .bwrap.r3.bw2, .newyork .bwrap.r3.bw2 > .box {
    width: 97px; }
  .newyork .b1 {
    width: 258px;
    background-color: #ffd504;
    border: 20px solid #c72206; }
  .newyork .b2 {
    width: 515px; }
  .newyork .b3 {
    width: 30px; }
    .newyork .b3:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 0 40px #ffd504, inset 0 70px #c72206; }
  .newyork .b4 {
    width: 97px;
    background-color: #1e2d80; }
  .newyork .b5 {
    width: 900px; }
    .newyork .b5:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 30px 0 #ffd504, inset 60px 0 #c72206, inset 98px 0 #ffd504, inset 128px 0 #1e2d80, inset 220px 0 #ffd504, inset 250px 0 #c72206, inset 280px 0 #ffd504, inset 310px 0 #1e2d80, inset 610px 0 #ffd504, inset 640px 0 #fff, inset 670px 0 #ffd504, inset 700px 0 #c72206, inset 775px 0 #ffd504, inset 805px 0 #1e2d80; }
  .newyork .b6 {
    width: 98px; }
  .newyork .b7 {
    width: 30px; }
    .newyork .b7:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 0 40px #ffd504, inset 0 70px #fff, inset 0 100px #ffd504, inset 0 130px #1e2d80, inset 0 220px #ffd504, inset 0 250px #c72206, inset 0 280px #ffd504, inset 0 310px #1e2d80, inset 0 540px #ffd504, inset 0 570px #fff; }
  .newyork .b8 {
    width: 645px;
    background-color: #fff; }
  .newyork .b9 {
    width: 773px; }
    .newyork .b9:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 10px 0 #ffd504, inset 40px 0 #1e2d80, inset 98px 0 #ffd504, inset 128px 0 #c72206, inset 239px 0 #ffd504, inset 269px 0 #1e2d80, inset 330px 0 #ffd504, inset 360px 0 #fff, inset 507px 0 #ffd504, inset 537px 0 #c72206, inset 620px 0 #ffd504, inset 650px 0 #fff, inset 720px 0 #ffd504, inset 750px 0 #c72206; }
  .newyork .b10 {
    width: 240px;
    background-image: url("../img/ny2.jpg");
    background-size: cover;
    background-position: center; }
    .newyork .b10 .scrim {
      background-color: rgba(199, 34, 6, 0.75); }
  .newyork .b11 {
    width: 30px; }
    .newyork .b11:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 0 60px #ffd504, inset 0 90px #fff, inset 0 150px #ffd504, inset 0 180px #1e2d80; }
  .newyork .b12 {
    width: 236px;
    background-image: url("../img/ny3.jpg");
    background-size: cover;
    background-position: center; }
    .newyork .b12 .scrim {
      background-color: rgba(255, 255, 255, 0.75); }
  .newyork .b13 {
    width: 30px; }
    .newyork .b13:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 0 90px #ffd504, inset 0 120px #1e2d80; }
  .newyork .b14 {
    width: 237px;
    background-image: url("../img/ny5.jpg");
    background-size: cover;
    background-position: center; }
    .newyork .b14 .scrim {
      background-color: rgba(30, 45, 128, 0.75); }
  .newyork .b15 {
    width: 773px; }
    .newyork .b15:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 20px 0 #ffd504, inset 50px 0 #fff, inset 160px 0 #ffd504, inset 190px 0 #c72206, inset 239px 0 #ffd504, inset 269px 0 #fff, inset 330px 0 #ffd504, inset 360px 0 #1e2d80, inset 434px 0 #ffd504, inset 464px 0 #fff, inset 507px 0 #ffd504, inset 537px 0 #1e2d80, inset 590px 0 #ffd504, inset 620px 0 #fff; }
  .newyork .b16 {
    width: 88px;
    background-color: #ffd504;
    border: 20px solid #1e2d80; }
  .newyork .b17 {
    width: 347px; }
  .newyork .b18 {
    width: 30px; }
    .newyork .b18:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 0 80px #ffd504, inset 0 110px #fff; }
  .newyork .b19 {
    width: 308px;
    background-image: url("../img/ny4.jpg");
    background-size: cover;
    background-position: center; }
    .newyork .b19 .scrim {
      background-color: rgba(255, 255, 255, 0.75);
      position: relative; }
      .newyork .b19 .scrim p {
        position: absolute;
        width: 264px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        text-transform: uppercase;
        color: #000;
        line-height: 1.5em;
        letter-spacing: 1.5px;
        font-weight: 700; }
  .newyork .b20 {
    width: 30px; }
    .newyork .b20:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 0 140px #ffd504, inset 0 170px #fff, inset 0 270px #ffd504, inset 0 300px #1e2d80, inset 0 460px #ffd504, inset 0 490px #fff, inset 0 520px #ffd504, inset 0 550px #c72206, inset 0 690px #ffd504, inset 0 720px #fff, inset 0 830px #ffd504, inset 0 860px #1e2d80, inset 0 890px #ffd504, inset 0 920px #fff, inset 0 952px #ffd504, inset 0 982px #c72206, inset 0 1070px #ffd504, inset 0 1100px #fff; }
  .newyork .b21 {
    height: 261px;
    border: 20px solid #c72206; }
  .newyork .b22 {
    height: 872px; }
  .newyork .b23 {
    width: 900px; }
    .newyork .b23:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 90px 0 #ffd504, inset 120px 0 #c72206, inset 209px 0 #ffd504, inset 239px 0 #fff, inset 434px 0 #ffd504, inset 464px 0 #c72206, inset 534px 0 #ffd504, inset 564px 0 #1e2d80, inset 774px 0 #ffd504, inset 804px 0 #1e2d80, inset 870px 0 #ffd504, inset 900px 0 #c72206; }
  .newyork .b24 {
    width: 210px; }
  .newyork .b25 {
    width: 30px; }
    .newyork .b25:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      box-shadow: inset 0 65px #ffd504, inset 0 95px #1e2d80; }
  .newyork .b26 {
    width: 660px;
    background-color: #c72206;
    color: #fff; }

.studio {
  background-color: #EAEAEA; }
  .studio .r2 {
    height: 222px; }
  .studio .r3 {
    height: 942px; }
  .studio .bwrap.r3, .studio .bwrap.r3 > .box {
    width: 115px; }
  .studio .b3 {
    width: 556px;
    background-color: #fff; }
  .studio .b4 {
    width: 229px;
    background-image: url("../img/menu_paris.jpg");
    background-size: cover;
    background-position: center; }
    .studio .b4 .scrim {
      background-color: rgba(199, 34, 6, 0.75); }
  .studio .b5 {
    width: 115px; }
  .studio .b6 {
    width: 785px; }
    .studio .b6 .drag {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffd504;
      width: 328px;
      border: 5px solid black;
      top: 15%;
      height: 111px; }
      .studio .b6 .drag p {
        margin: 0;
        top: -24px;
        width: 250px;
        left: -24px;
        font-weight: 700; }
    .studio .b6 .color-palette {
      z-index: 9999;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: relative;
      top: 84%;
      width: 474px;
      height: 176px;
      margin: 0;
      padding: 0;
      background-color: white;
      border: 5px solid black; }
      .studio .b6 .color-palette h2 {
        font-size: 28px;
        top: -36px; }
      .studio .b6 .color-palette .square {
        height: 122px;
        width: 122px;
        display: inline-block;
        margin-left: 22px;
        top: -35px; }
      .studio .b6 .color-palette .red {
        background: #c72206; }
      .studio .b6 .color-palette .yellow {
        background: #ffd504; }
      .studio .b6 .color-palette .blue {
        background: #1e2d80; }
    .studio .b6 #stage {
      perspective: 300px;
      -webkit-perspective: 300px;
      transform-style: preserve-3d;
      perspective-origin: 50% 50%;
      width: 785px;
      overflow: hidden;
      top: -14%;
      z-index: 0; }
    .studio .b6 .target {
      height: 785px;
      width: 785px;
      float: left;
      transition: 2s;
      transform-style: preserve-3d; }
      .studio .b6 .target .side {
        height: 785px;
        width: 785px;
        position: absolute;
        -webkit-background-size: cover;
        background-size: cover;
        backface-visibility: hidden;
        border-bottom: 5px black solid;
        border-right: 5px black solid;
        transition: 3s;
        transform-style: preserve-3d; }
    .studio .b6 .target:hover {
      transform: rotateY(180deg);
      transition: 2s; }
    .studio .b6 .target .side-1 {
      transform: rotateY(-90deg) translateZ(-392.5px);
      transform-origin: 50%, 50%, 392.5px; }
    .studio .b6 .target .side-2 {
      transform: rotateY(90deg) translateZ(-392.5px);
      transform-origin: 50%, 50%, 392.5px; }
    .studio .b6 .target .side-3 {
      transform: rotateX(90deg) translateZ(-392.5px);
      transform-origin: 50%, 50%, 392.5px; }
    .studio .b6 .target .side-4 {
      transform: rotateX(-90deg) translateZ(-392.5px);
      transform-origin: 50%, 50%, 392.5px; }
    .studio .b6 .target .side-back {
      transform: translateZ(-392.5px);
      background-color: white;
      transform-origin: 50%, 50%, 392.5px; }
  .studio .b7 {
    height: 167px; }
  .studio .b8 {
    height: 277px;
    background-color: #c72206; }
  .studio .b9 {
    height: 498px; }
  .studio .b10 {
    width: 110px; }
  .studio .b11 {
    width: 790px;
    background-color: #ffd504; }
