* {
  box-sizing: border-box;
  position: relative; }

.clearfix {
  clear: both; }

html, body {
  position: relative;
  height: 1440px;
  width: auto;
  overflow: auto; }

body > section {
  display: block;
  height: 1440px;
  width: 900px;
  float: left;
  font-family: 'Josefin Sans', sans-serif; }

.box {
  display: block;
  float: left;
  border-top: 5px solid #000;
  border-left: 5px solid #000; }

.bwrap {
  display: block;
  float: left; }

.box.right {
  border-right: 5px solid #000; }

:not(.newyork) > .r1 {
  height: 163px; }

.rlast {
  height: 114px;
  border-bottom: 5px solid #000; }

:not(.newyork) > .b1 {
  width: 785px; }

:not(.newyork) > .b2 {
  width: 115px;
  background-color: #1e2d80; }

.title {
  background-color: #EAEAEA; }
  .title .r2 {
    height: 110px; }
  .title .r3 {
    height: 776px; }
  .title .r4 {
    height: 278px; }
  .title .b3 {
    width: 335px;
    background-color: #c72206; }
  .title .b4 {
    width: 450px; }
  .title .b5 {
    width: 115px; }
  .title .b6 {
    position: relative;
    width: 785px;
    background-color: #fff; }
    .title .b6 h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 55px;
      text-transform: uppercase; }
      .title .b6 h1 span {
        font-size: 84px;
        font-weight: 700; }
  .title .b7 {
    width: 115px; }
  .title .b8 {
    width: 110px;
    background-color: #1e2d80; }
  .title .b9 {
    postition: relative;
    width: 675px; }
    .title .b9 .swipe-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 120px;
      background-image: url("../img/swipe_hand.png");
      background-size: contain;
      background-repeat: no-repeat; }
  .title .b10 {
    width: 115px; }
  .title .b11 {
    width: 110px; }
  .title .b12 {
    width: 790px;
    background-color: #ffd504; }
    .title .b12 p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      font-weight: 700; }

.menu {
  background-color: #EAEAEA; }
  .menu .r2 {
    height: 442px; }
  .menu .r3 {
    height: 221px; }
  .menu .r4 {
    height: 500px; }
  .menu .bwrap.r2, .menu .bwrap.r2 > .box {
    width: 110px; }
  .menu .bwrap.r4.bw1, .menu .bwrap.r4.bw1 > .box {
    width: 335px; }
  .menu .bwrap.r4.bw2, .menu .bwrap.r4.bw2 > .box {
    width: 450px; }
  .menu .b3 {
    height: 112px;
    background-color: #c72206; }
  .menu .b4 {
    height: 330px; }
  .menu .b5 {
    width: 225px;
    background-color: #fff; }
  .menu .b6 {
    width: 450px;
    background-color: #ffd504; }
  .menu .b7 {
    width: 115px; }
  .menu .b8 {
    width: 560px; }
  .menu .b9 {
    width: 340px;
    background-color: #1e2d80; }
  .menu .b10 {
    height: 332px;
    background-color: #1e2d80; }
  .menu .b11 {
    height: 168px; }
  .menu .b12 {
    height: 111px; }
  .menu .b13 {
    height: 389px;
    background-color: #c72206; }
  .menu .b14 {
    width: 115px; }
  .menu .b15 {
    width: 672px; }
  .menu .b16 {
    width: 228px;
    background-color: #ffd504; }

.paris {
  background-color: #EAEAEA; }
  .paris .r2 {
    height: 111px; }
  .paris .r3 {
    height: 1052px; }
  .paris .bwrap.r3 {
    width: 785px; }
  .paris .sr1 {
    height: 613px; }
  .paris .sr2 {
    height: 216px; }
  .paris .sr3 {
    height: 60px; }
  .paris .sr4 {
    height: 163px; }
  .paris .b3 {
    width: 335px;
    background-color: #c72206; }
  .paris .b4 {
    width: 565px; }
  .paris .b5 {
    width: 670px;
    background-color: #fff; }
  .paris .b6 {
    width: 115px; }
  .paris .b7 {
    width: 246px;
    background-color: #c72206; }
  .paris .b8 {
    width: 273px;
    background-color: #ffd504; }
  .paris .b9 {
    width: 266px;
    background-color: #1e2d80; }
  .paris .b10 {
    width: 670px; }
  .paris .b11 {
    width: 115px;
    background-color: #ffd504; }
  .paris .b12 {
    width: 447px;
    background-color: #1e2d80; }
  .paris .b13 {
    width: 338px; }
  .paris .b14 {
    width: 115px; }
  .paris .b15 {
    width: 560px; }
  .paris .b16 {
    width: 340px;
    background-color: #ffd504; }

.london {
  background-color: #EAEAEA; }
  .london .r2 {
    height: 111px; }
  .london .r3 {
    height: 1052px; }
  .london .bwrap.r3.bw1 {
    width: 785px; }
  .london .sr1 {
    height: 613px; }
  .london .sr2 {
    height: 216px; }
  .london .sr3 {
    height: 60px; }
  .london .sr4 {
    height: 163px; }
  .london .bwrap.r3.bw2, .london .bwrap.r3.bw2 > .box {
    width: 115px; }
  .london .b3 {
    width: 112px;
    background-color: #1e2d80; }
  .london .b4 {
    width: 788px; }
  .london .b5 {
    width: 670px;
    background-color: #fff; }
  .london .b6 {
    width: 115px; }
  .london .b7 {
    width: 246px;
    background-color: #c72206; }
  .london .b8 {
    width: 273px;
    background-color: #ffd504; }
  .london .b9 {
    width: 266px;
    background-color: #1e2d80; }
  .london .b10 {
    width: 562px; }
  .london .b11 {
    width: 223px;
    background-color: #c72206; }
  .london .b12 {
    width: 447px;
    background-color: #ffd504; }
  .london .b13 {
    width: 338px; }
  .london .b14 {
    height: 166px; }
  .london .b15 {
    height: 111px;
    background-color: #c72206; }
  .london .b16 {
    height: 775px; }
  .london .b17 {
    width: 340px; }
  .london .b18 {
    width: 560px;
    background-color: #1e2d80; }

.newyork {
  background-color: #EAEAEA; }
  .newyork .box {
    border: none; }
  .newyork .box.border {
    background-color: #ffd504; }
  .newyork .r1 {
    height: 150px; }
  .newyork .r2 {
    height: 30px; }
  .newyork .r3 {
    height: 1133px; }
  .newyork .r4 {
    height: 30px; }
  .newyork .r5 {
    height: 151px; }
  .newyork .bwrap.r3.bw1 {
    width: 773px; }
  .newyork .sr1 {
    height: 690px; }
  .newyork .sr2 {
    height: 30px; }
  .newyork .sr3 {
    height: 232px; }
  .newyork .sr4 {
    height: 30px; }
  .newyork .sr5 {
    height: 151px; }
  .newyork .bwrap.r3.bw2, .newyork .bwrap.r3.bw2 > .box {
    width: 97px; }
  .newyork .b1 {
    width: 258px;
    background-color: #ffd504;
    border: 20px solid #c72206; }
  .newyork .b2 {
    width: 515px; }
  .newyork .b3 {
    width: 30px; }
  .newyork .b4 {
    width: 97px;
    background-color: #1e2d80; }
  .newyork .b5 {
    width: 900px; }
  .newyork .b6 {
    width: 98px; }
  .newyork .b7 {
    width: 30px; }
  .newyork .b8 {
    width: 645px;
    background-color: #fff; }
  .newyork .b9 {
    width: 773px; }
  .newyork .b10 {
    width: 240px;
    background-color: #c72206; }
  .newyork .b11 {
    width: 30px; }
  .newyork .b12 {
    width: 236px; }
  .newyork .b13 {
    width: 30px; }
  .newyork .b14 {
    width: 237px;
    background-color: #1e2d80; }
  .newyork .b15 {
    width: 773px; }
  .newyork .b16 {
    width: 88px;
    background-color: #ffd504;
    border: 20px solid #1e2d80; }
  .newyork .b17 {
    width: 347px; }
  .newyork .b18 {
    width: 30px; }
  .newyork .b19 {
    width: 308px; }
  .newyork .b20 {
    width: 30px; }
  .newyork .b21 {
    height: 261px;
    border: 20px solid #c72206; }
  .newyork .b22 {
    height: 872px; }
  .newyork .b23 {
    width: 900px; }
  .newyork .b24 {
    width: 210px;
    background-color: #c72206; }
  .newyork .b25 {
    width: 30px; }
  .newyork .b26 {
    width: 660px; }

.studio {
  background-color: #EAEAEA; }
  .studio .r2 {
    height: 222px; }
  .studio .r3 {
    height: 942px; }
  .studio .bwrap.r3, .studio .bwrap.r3 > .box {
    width: 115px; }
  .studio .b3 {
    width: 556px;
    background-color: #fff; }
  .studio .b4 {
    width: 229px;
    background-color: #c72206; }
  .studio .b5 {
    width: 114px; }
  .studio .b6 {
    width: 785px; }
  .studio .b7 {
    height: 167px; }
  .studio .b8 {
    height: 277px;
    background-color: #c72206; }
  .studio .b9 {
    height: 498px; }
  .studio .b10 {
    width: 110px; }
  .studio .b11 {
    width: 790px;
    background-color: #ffd504; }
