* {
	box-sizing: border-box;
	position: relative;
}

.clearfix {
	clear: both;
}

html, body {
	position: relative;
	height: 1440px;
	width: auto;

	overflow: auto;
}

body > section {
	display: block;

	height: 1440px;
	width: 900px;

	float: left;

	font-family: 'Josefin Sans', sans-serif;
}



.text {
	padding: 50px 30px 0px 70px;;

	h2 {
		font-size: 48px;
		font-weight: 700;

		margin-bottom: 30px;
	}

	p {
		font-size: 24px;
		font-weight: 300;

		margin-bottom: 30px;
	}
}

.box {
	display: block;
	position: relative;

	float: left;

	border-top: 5px solid #000;
	border-left: 5px solid #000;

}

.bwrap {
	display: block;

	float: left;
}

.box.right {
	border-right: 5px solid #000;
}

:not(.newyork) > .r1 {
	height: 163px;
}
.rlast {
	height: 114px;
	border-bottom: 5px solid #000;
}

:not(.newyork) > .b1 {
	width: 785px;
}
:not(.newyork) > .b2 {
	width: 115px;
	background-color: $blue;
}
