* {
	box-sizing: border-box;
	position: relative;
}


html, body {
	position: relative;
	height: 1440px;
	width: auto;
	background-color: $grey;
}

body {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 1440px;
	white-space:nowrap;
}
::-webkit-scrollbar {
	display: none;
}

body > section {
	display: inline-block;
	position: relative;

	display: block;
	float: left;

	height: 1440px;
	width: 900px;

	font-family: 'Josefin Sans', sans-serif;

	white-space: normal;
}



.text {
	padding: 50px 30px 0px 70px;;

	h2 {
		font-size: 48px;
		font-weight: 700;

		margin-bottom: 30px;
	}

	p {
		font-size: 24px;
		font-weight: 300;

		margin-bottom: 30px;
	}
}

.exit {
	position: relative;
	width: 100%;
	height: 100%;

	&:before, &:after {
		content: "";
		display: block;

		position: absolute;
		top: 25%;
		left: 12.5%;

		transform: translate(-50%);
		transform-origin: center;

		height: 10px;
		width: 80px;
		background-color: #fff;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}

	p {
		position: absolute;
		width: 100%;
		bottom: 30px;
		color: #fff;
		font-size: 40px;
		text-align: center;
	}
}

.swipe-icon {
	width: 100px;
	height: 80px;
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
	background-image: url("../img/swipe_hand.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.tap-icon {
	width: 100px;
	height: 80px;
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
	background-image: url("../img/tap_hand.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.box {
	display: block;
	position: relative;

	float: left;

	border-top: 5px solid #000;
	border-left: 5px solid #000;

}

.scrim {
	height: 100%;
	width: 100%;
}

.bwrap {
	display: block;

	float: left;
}

.box.right {
	border-right: 5px solid #000;
}

:not(.newyork) > .r1 {
	height: 163px;
}
.rlast {
	height: 114px;
	border-bottom: 5px solid #000;
	p {
		@include center;

		font-size: 32px;
		font-weight: 700;
	}
}

:not(.newyork) > .b1 {
	width: 785px;
}
:not(.newyork) > .b2 {
	width: 115px;
	background-color: $blue;
}
