.menu {
	background-color: $grey;

	.scrim {
		p {
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			width: 100%;
			@include center;
		}
	}

	.r2 {
		height: 442px;
	}
	.r3 {
		height: 221px;
	}
	.r4 {
		height: 500px;
	}

	.bwrap.r2, .bwrap.r2 > .box {
		width: 110px;
	}
	.bwrap.r4.bw1, .bwrap.r4.bw1 > .box {
		width: 335px;
	}
	.bwrap.r4.bw2, .bwrap.r4.bw2 > .box {
		width: 450px;
	}

	.b3 {
		height: 112px;
		background-color: $red;
	}
	.b4 {
		height: 330px;
	}
	.b5 {
		position: relative;
		width: 225px;
		background-color: #fff;

		.tap-icon {
			position: absolute;
			left: 60%;
			top: 20%;
			transform: translate(-50%, -50%);
			p {
				position: absolute;
				top: 100px;
				left: -20px;
				font-size: 24px;
				font-weight: 700;
				line-height: 1.2em
			}
		}
	}
	.b6 {
		width: 450px;
		@include bg_img ("../img/menu_paris.jpg");
		.scrim {
			font-size: 70px;

			@include yellow();
		}
	}
	.b7 {
		width: 115px;
	}

	.b8 {
		width: 560px;
	}
	.b9 {
		width: 340px;
		@include bg_img ("../img/menu_studio.jpg");
		.scrim {
			font-size: 35px;
			color: #fff;
			line-height: 1.25em;

			@include blue();
		}
	}

	.b10{
		height: 332px;
		@include bg_img ("../img/menu_london.jpg");

		.scrim {
			font-size: 55px;
			color: #fff;

			@include blue();
		}
	}
	.b11 {
		height: 168px;
	}
	.b12 {
		height: 111px;
	}
	.b13 {
		height: 389px;
		@include bg_img ("../img/menu_ny.jpg");

		.scrim {
			font-size: 65px;
			color: #fff;
			@include red();
		}
	}
	.b14 {
		width: 115px;
	}

	.b15 {
		width: 672px;

		.swipe-icon {
			position: absolute;
			top: 50%;
			right: 2%;
			transform: translateY(-50%);
		}
	}
	.b16 {
		width: 228px;
		background-color: $yellow;
	}
}