.menu {
	background-color: $grey;

	.scrim {		
		height: 100%;
		width: 100%;
		

		p {
			font-size: 50px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			width: 100%;
			@include center;
		}
	}

	.r2 {
		height: 442px;
	}
	.r3 {
		height: 221px;
	}
	.r4 {
		height: 500px;
	}

	.bwrap.r2, .bwrap.r2 > .box {
		width: 110px;
	}
	.bwrap.r4.bw1, .bwrap.r4.bw1 > .box {
		width: 335px;
	}
	.bwrap.r4.bw2, .bwrap.r4.bw2 > .box {
		width: 450px;
	}

	.b3 {
		height: 112px;
		background-color: $red;
	}
	.b4 {
		height: 330px;
	}
	.b5 {
		width: 225px;
		background-color: #fff;
	}
	.b6 {
		width: 450px;
		background-color: $yellow;

		.scrim p {
			font-size: 70px;
		}
	}
	.b7 {
		width: 115px;
	}

	.b8 {
		width: 560px;
	}
	.b9 {
		width: 340px;
		background-color: $blue;
		.scrim p {
			font-size: 35px;
			color: #fff;
			line-height: 1.25em;
		}
	}

	.b10{
		height: 332px;
		background-color: $blue;

		.scrim p {
			font-size: 55px;
			color: #fff;
		}
	}
	.b11 {
		height: 168px;
	}
	.b12 {
		height: 111px;
	}
	.b13 {
		height: 389px;
		background-color: $red;

		.scrim p {
			font-size: 65px;
			color: #fff;
		}
	}
	.b14 {
		width: 115px;
	}

	.b15 {
		width: 672px;
	}
	.b16 {
		width: 228px;
		background-color: $yellow;
	}
}