.newyork {
	background-color: $grey;

	.box {
		border: none;
	}

	.box.border {
		background-color: $yellow;
	}

	.r1 {
		height: 150px;
	}
	.r2 {
		height: 30px;
	}
	.r3 {
		height: 1133px;
	}
	.r4 {
		height: 30px;
	}
	.r5 {
		height: 151px;
	}

	.bwrap.r3.bw1 {
		width: 773px;
	}
	.sr1 {
		height: 690px;
	}
	.sr2 {
		height: 30px;
	}
	.sr3 {
		height: 232px;
	}
	.sr4 {
		height: 30px;
	}
	.sr5 {
		height: 151px;
	}
	.bwrap.r3.bw2, .bwrap.r3.bw2 > .box {
		width: 97px;
	}

	.b1 {
		width: 258px;
		background-color: $yellow;
		border: 20px solid $red;
	}
	.b2 {
		width: 515px;
	}
	.b3 {
		width: 30px;
	}
	.b4 {
		width: 97px;
		background-color: $blue;
	}

	.b5 {
		width: 900px;
	}

	.b6 {
		width: 98px;
	}
	.b7 {
		width: 30px;
	}
	.b8 {
		width: 645px;
		background-color: #fff;
	}

	.b9 {
		width: 773px;
	}
	.b10 {
		width: 240px;
		background-color: $red;
	}
	.b11 {
		width: 30px;
	}
	.b12 {
		width: 236px;
	}
	.b13 {
		width: 30px;
	}
	.b14 {
		width: 237px;
		background-color: $blue;
	}
	.b15 {
		width: 773px;
	}

	.b16 {
		width: 88px;
		background-color: $yellow;
		border: 20px solid $blue;
	}
	.b17 {
		width: 347px;
	}
	.b18 {
		width: 30px;
	}
	.b19 {
		width: 308px;
	}
	.b20 {
		width: 30px;
	}

	.b21 {
		height: 261px;
		border: 20px solid $red;
	}
	.b22 {
		height: 872px;
	}

	.b23 {
		width: 900px;
	}

	.b24 {
		width: 210px;
		background-color: $red;
	}
	.b25 {
		width: 30px;
	}
	.b26 {
		width: 660px;
	}
}