.paris {
	background-color: $grey;

	.r2 {
		height: 111px;
	}
	.r3 {
		height: 1052px;
	}

	.bwrap.r3 {
		width: 785px;
	}
	.sr1 {
		height: 613px;
	}
	.sr2 {
		height: 216px;
	}
	.sr3 {
		height: 60px;
	}
	.sr4 {
		height: 163px;
	}

	.b3 {
		width: 335px;
		background-color: $red;
	}
	.b4 {
		width: 565px;
	}
	.b5 {
		width: 670px;
		background-color: #fff;
	}
	.b6 {
		width: 115px;
	}
	.b7 {
		width: 246px;
		// background-color: $red;
		@include bg_img ("../img/menu_studio.jpg");

		.scrim {
			@include red();
		}
	}
	.b8 {
		width: 273px;
		// background-color: $yellow;
		@include bg_img ("../img/paris2.jpg");

		.scrim {
			@include yellow();
		}
	}
	.b9 {
		width: 266px;
		// background-color: $blue;
		@include bg_img ("../img/paris4.jpg");

		.scrim {
			@include blue();
		}
	}
	.b10 {
		width: 670px;
	}
	.b11 {
		width: 115px;
		background-color: $yellow;
	}
	.b12 {
		width: 447px;
		// background-color: $blue;
		@include bg_img ("../img/paris3.jpg");

		.scrim {
			@include blue();
			position: relative;

			p {
				position: absolute;
				width: 264px;
				@include center;

				font-size: 36px;
				text-transform: uppercase;
				color: #fff;
				line-height: 1.5em;
				letter-spacing: 1.5px;
				font-weight: 700;
			}
		}
	}
	.b13 {
		width: 338px;
	}
	.b14 {
		width: 115px;
	}

	.b15 {
		width: 560px;
	}
	.b16 {
		width: 340px;
		background-color: $yellow;
	}
}