.paris {
	background-color: $grey;

	.r2 {
		height: 111px;
	}
	.r3 {
		height: 1052px;
	}

	.bwrap.r3, .bwrap.r3 > .box {
		width: 785px;
	}
	.sr1 {
		height: 613px;
	}
	.sr2 {
		height: 216px;
	}
	.sr3 {
		height: 60px;
	}
	.sr4 {
		height: 163px;
	}

	.b3 {
		width: 335px;
	}
	.b4 {
		width: 565px;
	}
	.b14 {
		width: 115px;
	}
}