.studio {
	background-color: $grey;

	.r2 {
		height: 222px;
	}
	.r3 {
		height: 942px;
	}

	.bwrap.r3, .bwrap.r3 > .box {
		width: 115px;
	}

	.b3 {
		width: 556px;
		background-color: #fff;
	}
	.b4 {
		width: 229px;
		// background-color: $red;
		@include bg_img ("../img/menu_paris.jpg");

		.scrim {
			@include red();
		}
	}
	.b5 {
		width: 115px;
	}

	.b6 {
		width: 785px;
		.drag {
			@include center;
			background-color: $yellow;
			width: 328px;
			border: 5px solid black;
			top: 15%;
			height: 111px;
			p {
				margin: 0;
				top: -24px;
				width: 250px;
				left: -24px;
				font-weight: 700;
			}
		}
		.color-palette {
			z-index: 9999;
			@include center;
			position: relative;
			top: 84%;
			width: 474px;
			height: 176px;
			margin: 0;
			padding: 0;
			background-color: white;

			border: 5px solid black;

			h2 {
				font-size: 28px;
				top: -36px;
			}
			.square {
				height: 122px;
				width: 122px;
				display: inline-block;
				margin-left: 22px;
				top: -35px;
			}
			.red {
				background: $red;
			}
			.yellow {
				background: $yellow;
			}
			.blue {
				background: $blue;
			}
		}

		#stage {
			perspective: 300px;
			-webkit-perspective: 300px;
			transform-style: preserve-3d;
			perspective-origin: 50% 50%;
			width: 785px;
			overflow: hidden;
			top: -14%;
			z-index: 0;
		}

		.target {
			height: 785px;
			width: 785px;
			float: left;
			transition: 2s;
			transform-style: preserve-3d;
			.side {
				height: 785px;
				width: 785px;
				position: absolute;
				-webkit-background-size: cover;
				background-size: cover;
				backface-visibility: hidden;
				border-bottom: 5px black solid;
				border-right: 5px black solid;
				transition: 3s;
				transform-style: preserve-3d;
			}
		}

		// .target:hover {
		// 	transform: rotateY(180deg);
		// 	transition: 2s;
		// }

		.target .side-1 {
			transform: rotateY(-90deg) translateZ(-392.5px);
			transform-origin: 50%, 50%, 392.5px;
		}

		.target .side-2 {
			transform: rotateY(90deg) translateZ(-392.5px);
			transform-origin: 50%, 50%, 392.5px;
		}

		.target .side-3 {
			transform: rotateX(90deg) translateZ(-392.5px);
			transform-origin: 50%, 50%, 392.5px;
		}

		.target .side-4 {
			transform: rotateX(-90deg) translateZ(-392.5px);
			transform-origin: 50%, 50%, 392.5px;
		}

		.target .side-back {
			transform: translateZ(-392.5px);
			background-color: white;
			transform-origin: 50%, 50%, 392.5px;
		}
	}
	.b7 {
		height: 167px;
	}
	.b8 {
		height: 277px;
		background-color: $red;
	}
	.b9 {
		height: 498px;
	}

	.b10 {
		width: 110px;
	}
	.b11 {
		width: 790px;
		background-color: $yellow;
	}
}