.studio {
	background-color: $grey;

	.r2 {
		height: 222px;
	}
	.r3 {
		height: 942px;
	}

	.bwrap.r3, .bwrap.r3 > .box {
		width: 115px;
	}

	.b3 {
		width: 556px;
		background-color: #fff;
	}
	.b4 {
		width: 229px;
		// background-color: $red;
		@include bg_img ("../img/menu_paris.jpg");

		.scrim {
			@include red();
		}
	}
	.b5 {
		width: 115px;
	}

	.b6 {
		width: 785px;
		div {
			@include center;
			background-color: $yellow;
			width: 328px;
			border: 5px solid black;
			top: 15%;
			height: 111px;
			p {
				margin: 0;
				top: -24px;
				width: 250px;
				left: -24px;
				font-weight: 700;
			}
		}
	}
	.b7 {
		height: 167px;
	}
	.b8 {
		height: 277px;
		background-color: $red;
	}
	.b9 {
		height: 498px;
	}

	.b10 {
		width: 110px;
	}
	.b11 {
		width: 790px;
		background-color: $yellow;
	}
}